$top-spacer: 2rem;
$btn-bg: #734DF9;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #FAFAFA;
}
.container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}
#githubProject{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #734DF9;
    padding: .5rem;
    border-radius: 50%;
    &:hover::after{
        content: "GitHub Project";
        position: absolute;
        width: 110px;
        bottom: 60px;
        right: 10px;
        background-color: rgb(97, 97, 97);
        color: #fff;
        padding: .2rem .4rem;
        border-radius: 1rem;
    }
    i{
        font-size: 2rem;
        color: #fff;
    }
}

@mixin linkReset {
    text-decoration: none;
    color: #000;
}

@import "./header";
@import "./search";
@import "./main";